*.pyc
.DS_Store
codehsdb
curriculum
ec2
test
codehs/codehs_static
dump.rdb
*.doctree
*.pickle
logs
node_modules
js_coverage
*~
*.swo
*.swp
bundle.js
bundle.js.map
codehs/editor/static/gulp/
codehs/editor/static/lib/abacus/
codehs/editor/static/js/core/constants.json
codehs/editor/static/js/core/constants.js
npm-debug.log
codehs/npm-debug.log
codehs/ngrok
codehs/editor/static/jsdoc/chs-js-lib/*.html
codehs/editor/static/jsdoc/chs-js-lib/scripts/
codehs/editor/static/jsdoc/chs-js-lib/fonts/
codehs/editor/static/jsdoc/chs-js-lib/styles/
codehs/editor/static/lib/codehs/chs-js-lib/chs.js
codehs/editor/static/lib/codehs/chs-js-lib/chs.js.map
codehs/editor/static/cdn/
run_migrations
.vscode
codehs/worker*
codehs/scripts/data/blogin.csv
*.sublime-workspace